// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//

// Menus
.top-bar-title {
  img {
    height: rem-calc(100) !important;
    width: auto !important;
  }
}
.top-bar-right {
  .row-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    li:not(.is-submenu-item) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      &:after {
        color: $soft-blue;
        font-weight: 100;
        font-size: rem-calc(35);
        content: "|";
        margin: 0.5rem 0.5rem;
      }
      &:last-child:after {
        content: none !important;
      }
    }
  }
}
.row-submenu {
  background-color: $blue;
  border-top: 1px solid $soft-blue;
  border-bottom: 1px solid $soft-blue;
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    li {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 0;
    }
    li:after {
      color: $soft-blue;
      font-weight: 800;
      font-size: rem-calc(20);
      content: "\22EE";
      margin: 0.5rem 1.5rem;
    }
    li:last-child:after {
      content: none !important;
    }
  }
}

.wrapper > header {
  border-bottom: none;
}

// Highlight
.jumbo {
  height: 450px;
  background-color: $brand;
  background-image: image-url("home-image.png");
  background-size: 110% auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  margin-bottom: 0;
  padding-top: 100px;
  .button {
    background-color: $black;
  }
}

// Help
.help {
  .menu-pages {
    a {
      background-color: $brand;
      color: $white;
      &:hover {
        color: $brand;
      }
    }
    li::after {
      content: none !important;
    }
  }
}
.hollow {
  color: $black;
}

// Forms
.locale::after {
  content: none !important;
}

.locale-form {
  display: inline-block;
  position: relative;
  color: $white;

  label {
    color: $white;
    font-size: $tiny-font-size;
    font-weight: normal;
  }

  select {
    -moz-appearance: none !important; /* Firefox */
    -webkit-appearance: auto !important;
    outline: none !important;
    background: transparent !important;
    color: $white !important;
    width: 80px !important;
    ::-ms-expand {
      display: none;
    }
    option {
      color: $white;
      border: 0;
      outline: none;
    }
  }

  .locale-switcher {
    color: $white !important;
    background: $brand;
    border: 0;
    border-radius: rem-calc(4);
    font-size: $small-font-size;
    height: $line-height;
    margin-bottom: 0;
    margin-top: $line-height / 4;
    outline: none;
    padding: 0 $line-height / 4;
    width: auto;

    &:focus {
      outline: $outline-focus;
    }
  }
}

// Feed
.feeds-participation {
  @include breakpoint(medium) {
    display: flex;

    .feed-proposals:not(:only-child) {
      width: 50% !important;
    }

    .feed-debates:not(:only-child) {
      width: 50% !important;
    }

    .feed-proposals,
    .feed-debates {
      display: flex;
      flex-direction: column;

      .feed-content {
        flex: 1;
      }
    }
  }

  .sdg-tag-list {
    margin-top: $line-height / 2;
  }

  .feed-debates,
  .feed-proposals {
    @include grid-col;
    margin-top: $line-height;
  }
  .dots {
    font-size: rem-calc(30);
    line-height: rem-calc(15);
  }
  .feed-proposals {
    width: none !important;
    .title {
      border: none;
    }
  }
  .feed-debates {
    width: none !important;
    .title {
      border: none;
    }
  }

  .sdg-tag-list {
    margin-top: $line-height / 2;
  }

  .feed-debates,
  .feed-proposals {
    @include grid-col;
    margin-top: $line-height;
  }
}

.feed-content {
  .proposal {
    .feed-description {
      color: $black;
      &::before {
        font-size: 800;
        margin-left: -13px;
        content: "\276F";
      }
    }
  }

  .debate {
    color: $black;
    &::before {
      font-size: 800;
      margin-left: -13px;
      content: "\276F";
    }
  }
}
// .feeds-border {
//   padding: 2px 0;
//   height: 380px;
//   background: linear-gradient(
//     to right,
//     $orange 0%,
//     $orange 50%,
//     $pink 50%,
//     $pink 100%
//   );
//   @include breakpoint(small) {
//     background: linear-gradient(
//       to bottom,
//       $orange 0%,
//       $orange 50%,
//       $pink 50%,
//       $pink 100%
//     );
//   }
// }
// .feeds {
//   position: relative;
//   height: 100%;
//   background: linear-gradient(
//     to right,
//     $soft-orange 0%,
//     $soft-orange 50%,
//     $soft-pink 50%,
//     $soft-pink 100%
//   );
//   @include breakpoint(small) {
//     background: linear-gradient(
//       to bottom,
//       $orange 0%,
//       $orange 50%,
//       $pink 50%,
//       $pink 100%
//     );
//   }
// }

.feed {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  .orange {
    height: inherit;
    width: 50%;
    background-color: $soft-orange;
    border-top: 2px solid $orange;
    border-bottom: 2px solid $orange;
    display: flex;
    align-items: center;
    justify-content: center;
    .feed-proposals {
      width: fit-content;
      margin-top: 0;
      margin-bottom: rem-calc(12);
    }
  }
  .pink {
    height: inherit;
    width: 50%;
    background-color: $soft-pink;
    border-top: 2px solid $pink;
    border-bottom: 2px solid $pink;
    display: flex;
    align-items: center;
    justify-content: center;
    .feed-debates {
      width: fit-content;
      margin-top: 0;
      margin-bottom: rem-calc(12);
    }
  }
  .feed-description {
    width: 100%;
  }
  @include breakpoint(small down) {
    display: flex;
    flex-direction: column;
    position: relative;
    .orange {
      height: 500px;
      width: 100%;
      background-color: $soft-orange;
      border-top: 2px solid $orange;
      border-bottom: 2px solid $orange;
      .feed-proposals {
        width: 70%;
      }
    }
    .pink {
      height: 500px;
      width: 100%;
      background-color: $soft-pink;
      border-top: 2px solid $pink;
      border-bottom: 2px solid $pink;
      .feed-debates {
        width: 70%;
      }
    }
  }
  .feeds {
    position: absolute;
    width: 100%;
  }
}

.news {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .title {
    width: fit-content;
    border: none !important;
    min-width: 0 !important;
    margin: 0 !important;
  }
  .dots {
    font-size: rem-calc(30);
    line-height: rem-calc(15);
    color: $blue;
  }
  .row {
    width: 100%;
    .cards-container {
      margin-top: 28px;
    }
  }
}

.steps {
  background-color: $background-secondary;
  .flex-row {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    @include breakpoint(small down) {
      flex-direction: column;
    }
    .step {
      margin: 40px auto;
      img {
        height: 100px;
        width: auto;
      }
      .propones {
        background-color: $blue;
        width: fit-content;
        margin: 15px auto;
      }
      .decides {
        background-color: $pink;
        width: fit-content;
        margin: 15px auto;
      }
      .se-hace {
        background-color: $orange;
        width: fit-content;
        margin: 15px auto;
      }
      strong {
        text-transform: uppercase;
        margin: 30px 20px;
      }
      .description {
        max-width: 200px;
        margin: auto;
      }
    }
  }
}
.flex-row > img {
  @include breakpoint(small down) {
    display: none;
  }
}

.footer {
  margin-top: 0;
  background-color: $footer-color;
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .info {
        margin: 20px;
      }
    }
    .sections {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 20px auto;
      .section {
        margin: auto 20px;
        .title {
          border: none !important;
        }
      }
      @include breakpoint(small down) {
        flex-direction: column;
        img {
          display: none;
        }
      }
    }
    .subfooter {
      border-top: 1px solid $brand;
      padding: 0;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .social > ul {
        margin: 50px 0;
        li {
          margin: auto 10px;
        }
      }
    }
    .legal {
      border-top: 1px solid $brand;
      width: 100%;
      padding-top: 50px;
    }
  }
}

header {
  .is-active {
    color: $white !important;
  }
}

.auth-image {
  background: $brand;
  h1 {
    width: 100%;
    a > img {
      width: 100%;
    }
  }
}
